body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f0f0f5;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    text-align: center;
    margin: 20px 0;
    font-family: 'Times New Roman', Times, serif;
}

.graph-container {
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    font-family: 'Times New Roman', Times, serif;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.container {
    margin: 5px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.container:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.graph-container:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

p {
    text-align: center;
    color: #2a3f5f;
}